# .env.example
GEMINI_API_KEY=
VITE_WALLETCONNECT_PROJECT_ID=
VITE_TREASURY_ADDRESS=0x109d273bc4ea81b36b2c1d051ae336a9780f4eeb
VITE_TRON_TREASURY_ADDRESS=
VITE_ALCHEMY_API_KEY=
PLISIO_SECRET_KEY=
PLISIO_API_KEY=
APP_URL=https://ais-dev-nrnztj4kg4lqeuu2xzb5lw-255238175762.us-east1.run.app
POLYGON_RPC_URL=https://polygon-rpc.com
TREASURY_PRIVATE_KEY=
TIGGY_BANK_MATIC_ADDRESS=0xeeBA968CB319FBF3BfACcF9d941591C329Ef409B
